*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
*.iws

# Ignore build files in buildSrc directory
/buildSrc/build/

buildSrc/build/kotlin/buildSrcjar-classes.txt
buildSrc/build/libs/buildSrc.jar
buildSrc/build/pluginUnderTestMetadata/plugin-under-test-metadata.properties
buildSrc/build/tmp/jar/MANIFEST.MF